@model FORMULARIOCENSI.Models.Formulario

@{
    ViewData["Title"] = "Edit";
}

<h1>MODIFICACIÓN DEL CASO</h1>

<h4>Formulario</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatosPaciente" class="control-label"></label>
                <textarea asp-for="DatosPaciente" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="DatosPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sinopsis" class="control-label"></label>
                <textarea asp-for="Sinopsis" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Sinopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Base" class="control-label"></label>
                <textarea asp-for="Base" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Base" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado1" class="control-label"></label>
                <textarea asp-for="Estado1" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Estado1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado2" class="control-label"></label>
                <textarea asp-for="Estado2" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Estado2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado3" class="control-label"></label>
                <textarea asp-for="Estado3" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Estado3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado4" class="control-label"></label>
                <textarea asp-for="Estado4" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Estado4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado5" class="control-label"></label>
                <textarea asp-for="Estado5" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Estado5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado6" class="control-label"></label>
                <textarea asp-for="Estado6" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Estado6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado7" class="control-label"></label>
                <textarea asp-for="Estado7" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Estado7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autores" class="control-label"></label>
                <textarea asp-for="Autores" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Autores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoriaClinica" class="control-label"></label>
                <textarea asp-for="HistoriaClinica" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="HistoriaClinica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SituaciónTriaje" class="control-label"></label>
                <textarea asp-for="SituaciónTriaje" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="SituaciónTriaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaHospitalizacion" class="control-label"></label>
                <textarea asp-for="NotaHospitalizacion" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="NotaHospitalizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignosVitales" class="control-label"></label>
                <textarea asp-for="SignosVitales" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="SignosVitales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoGeneral" class="control-label"></label>
                <textarea asp-for="EstadoGeneral" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="EstadoGeneral" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cardiovascular" class="control-label"></label>
                <textarea asp-for="Cardiovascular" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Cardiovascular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuello" class="control-label"></label>
                <textarea asp-for="Cuello" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Cuello" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Respiratorio" class="control-label"></label>
                <textarea asp-for="Respiratorio" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Respiratorio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abdomen" class="control-label"></label>
                <textarea asp-for="Abdomen" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Abdomen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenitoUrinario" class="control-label"></label>
                <textarea asp-for="GenitoUrinario" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="GenitoUrinario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AparatoLocomotor" class="control-label"></label>
                <textarea asp-for="AparatoLocomotor" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="AparatoLocomotor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Piel" class="control-label"></label>
                <textarea asp-for="Piel" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Piel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Neurologico" class="control-label"></label>
                <textarea asp-for="Neurologico" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Neurologico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endovenoso" class="control-label"></label>
                <textarea asp-for="Endovenoso" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Endovenoso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Laboratorios" class="control-label"></label>
                <textarea asp-for="Laboratorios" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Laboratorios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recomendaciones" class="control-label"></label>
                <textarea asp-for="Recomendaciones" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Recomendaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ordenes" class="control-label"></label>
                <textarea asp-for="Ordenes" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Ordenes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetenciaGeneral" class="control-label"></label>
                <textarea asp-for="CompetenciaGeneral" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="CompetenciaGeneral" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objetivos" class="control-label"></label>
                <textarea asp-for="Objetivos" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Objetivos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identificar" class="control-label"></label>
                <textarea asp-for="Identificar" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Identificar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distinguir" class="control-label"></label>
                <textarea asp-for="Distinguir" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Distinguir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discriminar" class="control-label"></label>
                <textarea asp-for="Discriminar" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Discriminar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actuar" class="control-label"></label>
                <textarea asp-for="Actuar" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Actuar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usar" class="control-label"></label>
                <textarea asp-for="Usar" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Usar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicar" class="control-label"></label>
                <textarea asp-for="Aplicar" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Aplicar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedidasEsenciales" class="control-label"></label>
                <textarea asp-for="MedidasEsenciales" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="MedidasEsenciales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Baseline" class="control-label"></label>
                <textarea asp-for="Baseline" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Baseline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado1Desem" class="control-label"></label>
                <textarea asp-for="Estado1Desem" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Estado1Desem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado2Desem" class="control-label"></label>
                <textarea asp-for="Estado2Desem" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Estado2Desem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado3Desem" class="control-label"></label>
                <textarea asp-for="Estado3Desem" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Estado3Desem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado4Desem" class="control-label"></label>
                <textarea asp-for="Estado4Desem" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Estado4Desem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado5Desem" class="control-label"></label>
                <textarea asp-for="Estado5Desem" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Estado5Desem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado6Desem" class="control-label"></label>
                <textarea asp-for="Estado6Desem" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Estado6Desem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado7Desem" class="control-label"></label>
                <textarea asp-for="Estado7Desem" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Estado7Desem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado8Desem" class="control-label"></label>
                <textarea asp-for="Estado8Desem" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Estado8Desem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preguntas" class="control-label"></label>
                <textarea asp-for="Preguntas" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Preguntas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipos" class="control-label"></label>
                <textarea asp-for="Equipos" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Equipos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confederado" class="control-label"></label>
                <textarea asp-for="Confederado" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Confederado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Definiciones" class="control-label"></label>
                <textarea asp-for="Definiciones" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Definiciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Herramientas" class="control-label"></label>
                <textarea asp-for="Herramientas" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Herramientas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonitorDesfibrilador" class="control-label"></label>
                <textarea asp-for="MonitorDesfibrilador" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="MonitorDesfibrilador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enfoque" class="control-label"></label>
                <textarea asp-for="Enfoque" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Enfoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Control" class="control-label"></label>
                <textarea asp-for="Control" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Control" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bibliografía" class="control-label"></label>
                <textarea asp-for="Bibliografía" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Bibliografía" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PuntosDebriefing" class="control-label"></label>
                <textarea asp-for="PuntosDebriefing" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="PuntosDebriefing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aprendizaje" class="control-label"></label>
                <textarea asp-for="Aprendizaje" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Aprendizaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Referencias" class="control-label"></label>
                <textarea asp-for="Referencias" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Referencias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Escenarios" class="control-label"></label>
                <textarea asp-for="Escenarios" class="form-control" cols="30" rows="10"></textarea>
                <span asp-validation-for="Escenarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
