@model FORMULARIOCENSI.Models.Formulario;
@{
    ViewData["Title"] = "Formulario";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="text-left">
    <h1 class="display-4"></h1>

    <form asp-controller="Formulario" asp-action="Create">
        <div class="text-left">
            <label asp-for="Sinopsis" class="control-label"></label>
            <input asp-for="Sinopsis" class="form-control"/>
        </div>

        <div class="text-left">
            <label asp-for="Autores" class="control-label"></label>
            <input asp-for="Autores" class="form-control"/>
        </div>

        <div class="text-left">
            <label asp-for="HistoriaClinica" class="control-label"></label>
            <input asp-for="HistoriaClinica" class="form-control"/>
        </div>

        <div class="text-left">
            <label asp-for="NotaIngreso" class="control-label"></label>
            <input asp-for="NotaIngreso" class="form-control"/>
        </div>

        <div class="text-left">
            <label asp-for="Ordenes" class="control-label"></label>
            <input asp-for="Ordenes" class="form-control"/>
        </div>

        <div class="text-left">
            <label asp-for="Objetivos" class="control-label"></label>
            <input asp-for="Objetivos" class="form-control"/>
        </div>

        <div class="text-left">
            <label asp-for="Desempe침o" class="control-label"></label>
            <input asp-for="Desempe침o" class="form-control"/>
        </div>

        <div class="text-left">
            <label asp-for="Preguntas" class="control-label"></label>
            <input asp-for="Preguntas" class="form-control"/>
        </div>

        <div class="text-left">
            <label asp-for="Equipos" class="control-label"></label>
            <input asp-for="Equipos" class="form-control"/>
        </div>

        <div class="text-left">
            <label asp-for="Gui칩n" class="control-label"></label>
            <textarea asp-for="Gui칩n" class="form-control" cols="30" rows="10"></textarea>
        </div>

        <div class="text-left">
            <label asp-for="Confederado" class="control-label"></label>
            <input asp-for="Confederado" class="form-control"/>
        </div>

        <div class="text-left">
            <label asp-for="NotasFacilitador" class="control-label"></label>
            <textarea asp-for="NotasFacilitador" class="form-control" cols="30" rows="10"></textarea>
        </div>

        <div class="text-left">
            <label asp-for="PuntosDebriefing" class="control-label"></label>
            <input asp-for="PuntosDebriefing" class="form-control"/>
        </div>

        <div class="text-left">
            <label asp-for="Aprendizaje" class="control-label"></label>
            <input asp-for="Aprendizaje" class="form-control"/>
        </div>

        <div class="text-left">
            <label asp-for="Referencias" class="control-label"></label>
            <input asp-for="Referencias" class="form-control"/>
        </div>

        <div class="text-left">
            <label asp-for="Escenarios" class="control-label"></label>
            <textarea asp-for="Escenarios" class="form-control" cols="30" rows="10"></textarea>
        </div>

        <h1></h1>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
    <h1>@ViewData["Message"]</h1>
</div>